@mixin contrast-button($size: "small") {
  color: $button-color;
  transition: 0.2s color ease;
  font-weight: bold;

  @if $size == "small" {
    font-size: $contrast-button-font-small-size;
  } @else {
    font-size: $contrast-button-font-size;
  }

  &:hover {
    color: $button-hover-color;
  }

  &:disabled {
    color: $button-color;
    opacity: 0.5;
    cursor: default;
  }
}
